services:
  php:
    build:
      context: Docker/php
      dockerfile: Dockerfile
    container_name: app_php
    volumes:
      - ./symfony:/var/www/html
    working_dir: /var/www/html/public
    command: php -S 0.0.0.0:80 -t .
    ports:
      - "8000:80"
    depends_on:
      - db
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: dashboard
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
        - "33061:3306"
    volumes:
        - database_data:/var/lib/mysql

volumes:
    database_data:
