@import './base.css';


body {
  color: white;
  background-color: #181818;
  max-width: 1280px;
  max-height: 800px;
}

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/*@media (min-width: 1024px) {*/
/*  body {*/
/*    display: flex;*/
/*    place-items: center;*/
/*  }*/

/*  #app {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    padding: 0 2rem;*/
/*  }*/
/*}*/

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-center-vertical {
    align-items: center;
}

.flex-center-horizontal {
    justify-content: center;
}

.pad-right-20 {
    padding-right: 20px;
}

.pad-left-20 {
    padding-left: 20px;
}

.col-full {
  width: 100%;
  max-width: 100%;
}

.col-border-right {
  border-right: 1px solid white;
}

.col-70 {
  max-width: 70%;
}

.col-50 {
  max-width: 50%;
}

.col-45 {
  max-width: 45%;
}

.col-40 {
  max-width: 45%;
}

.col-30 {
  max-width: 30%;
}

.col-10 {
  max-width: 10%;
}

.col-5 {
  max-width: 5%;
}
.col-3 {
  max-width: 3%;
}

.col-7 {
  max-width: 7%;
}

.mb-4 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 5px;
}

.mr-4 {
  margin-right: 4ch;
}

.clickable:hover {
  cursor: pointer;
}

